body{
    font-family: 'Raleway',sans-serif;
}


.line{
    width: 80px;
    border-top: 5px solid #210085;
}

h2{
    
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 40px;
}

h2 span{
    color: #210085;
}


.section-3{
  background: url(Particles.png) fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  overflow: hidden;
   
}


p{
    text-align: center;
}
.SecondDeck{
    margin-top: 80px;
}




.card{
   
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
 
}
.card:before{
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255,255,255,.5);
    filter: blur(2px);
   
    z-index: -1;
}
.card-title{
    text-align: center;
    vertical-align: middle;
}
h3{
    font-size: 40px;
    font-weight: 500;
}




section:nth-child(1)
{
    background: transparent;
}
section:nth-child(2)
{
    background: transparent;
}
section:nth-child(3)
{
    background: transparent; 

}
section:nth-child(4)
{
    background: transparent; 

}
section:nth-child(5)
{
    background: transparent; 
}
section:nth-child(6)
{
    background: transparent;
}
